## 1. String (5 Questions)

## 1. Check if a given string is a palindrome.

In [8]:
str=input("enter a string:")
if str == str[::-1]:
 print("string is palindrome")
else: 
 print("string is not palindrome")

enter a string: 121

string is palindrome

## 2. Count the number of vowels in a string and store the result in a dictionary.

In [8]:
s = "education"
vowels = "aeiou"
count = {v:s.count(v) for v in vowels }
print(count)

{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}

In [39]:
t = "python"
vowels= "aeiou"
vowel_counts = {}
for char in t.lower():
    if char in vowels:
        vowel_counts[char] = vowel_counts.get(char, 0) + 1
        print(vowel_counts)

{'o': 1}

## 3. Convert the first letter of each word in a string to uppercase (title case manually).

In [32]:
str=input("enter a string:")
str.title()

enter a string: saloni

'Saloni'

## 4. Find the most frequently occurring character in a string.

In [4]:
s = "banana"
frequency = {ch:s.count(ch) for ch in s}
print(max(frequency, key = frequency.get))

a

## 5. Count digits, alphabets, and special characters separately in a string.

In [2]:
s="hello@123!"
alphabets=0
digits=0
special_chars=0
for char in s:
    if char.isalpha():
        alphabets+=1
       
    elif char.isdigit():
        digits+=1
       
    else:
        special_chars+=1
       
print("alphabets:",alphabets)
print("Digits:",digits)
print("Special_Characters:",special_chars)

alphabets: 5
Digits: 3
Special_Characters: 2

## 2. List (5 Questions)

## 6. Remove duplicate elements from a list without using set().

In [10]:
l1 = [1,1,2,2,3,4,5,5,6,7,7,8,9,0]
l1.remove(2)
print(l1)

[1, 1, 2, 3, 4, 5, 5, 6, 7, 7, 8, 9, 0]

## 7. Reverse a list without using built-in functions.

In [10]:
l1 = [1,2,3,4,5,6,7,8,9,0]

In [11]:
l1[::-1]

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 8. Find the 2nd largest and 2nd smallest element in a list.

In [2]:
my_list = [1,2,3,4,5,6,7,8,9]
unique_sorted = sorted(list(set(my_list)))
second_largest = unique_sorted[-2]
second_smallest =unique_sorted[1]
print(f"Original list:{my_list}")
print(f"second largest element:{second_largest}")
print(f"second smallest element:{second_smallest}")

Original list:[1, 2, 3, 4, 5, 6, 7, 8, 9]
second largest element:8
second smallest element:2

## 9. Store the square of each element of a list into a new list (using list comprehension).

In [3]:
l2 = [1,2,3,4,5,6,7,8,9]
squares = [x**2 for x in l2]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## 10. Flatten a nested list into a single list

In [6]:
nested = [[1,2],[3,4],[5,6]]
[x for sub in nested for x in sub]

[1, 2, 3, 4, 5, 6]

## 3. Tuple (5 Questions)

## 11. Reverse a tuple without using [::-1].

In [11]:
fruits=["apple","banana","grapes"]
fruits.reverse()
print(fruits)

['grapes', 'banana', 'apple']

## 12. Extract unique elements from a tuple and store them in a new list.

In [3]:
t = (1,2,3,3,4,4,5,5)
u_element_set = set(t)
u_element_list = list(u_element_set)
print(f"original tuple:{t}")
print(f"list with unique element:{u_element_list}")

original tuple:(1, 2, 3, 3, 4, 4, 5, 5)
list with unique element:[1, 2, 3, 4, 5]

## 13. Concatenate two tuples and sort them.

In [12]:
tup = (1,2,3,4,4,5)
tup1 = (8,9,7,6,10)
t=(tup + tup1)
print(sorted(t))

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

## 14. Count the frequency of an element in a tuple without using count().

In [13]:
tup = (1,2,2,3,4,4,5)
element = 2
count = sum (1 for x in tup if x == element)
print(count)

2

## 15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers.

In [2]:
t=(1,2,3,4,5,6,7,8,9,10)
even_list = []
odd_list = []
for i in t:
    if i % 2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)
        
even_tuple = tuple(even_list)
odd_tuple = tuple(odd_list)
print(f"original tuple:{t}")
print(f"tuple with even no:{even_tuple}")
print(f"tuple with odd no:{odd_tuple}")

original tuple:(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tuple with even no:(2, 4, 6, 8, 10)
tuple with odd no:(1, 3, 5, 7, 9)

In [11]:
t = (1,2,3,4,5,6,7,8,9)
even = tuple(i for i in t if i % 2 == 0)
odd = tuple(i for i in t if i % 2 != 0)
print("Even",even)
print("Odd",odd)

Even (2, 4, 6, 8)
Odd (1, 3, 5, 7, 9)

## 4. Set (5 Questions)

## 16. Perform union, intersection, and difference of two sets without using built-in operators.

In [4]:
s1={1,2,3}
s2={4,5,6}
print(s1|s2)
print(s1&s2)
print(s1-s2)

{1, 2, 3, 4, 5, 6}
set()
{1, 2, 3}

## 17. Remove a random element from a set (without using pop()).

In [3]:
s={1,2,3,4}
s.remove(1)
print(s)

{2, 3, 4}

## 18. Convert a list into a set and check if duplicates are removed

In [33]:
l1 = [1,2,3,1,2,3,4]
l1 = {}

In [34]:
l1

{}

## 19. Check if two sets are disjoint.

In [17]:
a = {1,2}
b = {3,4}
a.isdisjoint(b)

True

## 20. Find the sum of all elements in a set.

In [18]:
s = (1,2,3,4,5)
sum(s)

15

## 5. Dictionary (5 Questions)

## 21. Create a dictionary and print keys in ascending order.

In [21]:
d1 = {"b":2, "a":1, "c":3,}
for k in sorted(d1.keys()):
    print(k, d1[k])

a 1
b 2
c 3

## 22. Add a new key to a dictionary with value equal to the sum of existing values

In [25]:
d1 = {"x":10, "y":20}
d1["total"] = sum(d1.values())
print(d1)

{'x': 10, 'y': 20, 'total': 30}

## 23. Merge two dictionaries into one.

In [26]:
d1 = {"jan":31, "feb": 28, "march":31, "april":30}

In [28]:
d2 = {'feb': 28, 'march': 31, 'june': 30, 'may': None}

In [26]:
d1, d2 = {"a":1}, {"b":2}
merged = {**d1, **d2}
print(merged)

{'a': 1, 'b': 2}

## 24. Find the key with the largest value in a dictionary.

In [27]:

d = {"a":10, "b":25,"c":5}
print(max(d, key=d.get))

b

## 25. Store the frequency of characters of a string in a dictionary.

In [28]:

s = "banana"
freq = {ch: s.count(ch) for ch in set(s)}
print(freq)

{'a': 3, 'b': 1, 'n': 2}

## 6. Conditional Statements (5 Questions)

## 26. Take age as input and check if the person is eligible to vote or not.

In [5]:

age = int(input("enter your age: "))

if age>=18:
  print("eligible to vote")
else:
  print("not eligible to vote")

enter your age:  20

eligible to vote

## 27. Find the largest among three numbers (using nested if).

In [29]:

a,b,c = 10,20,15
if a>b and a>c:
    print("largest:", a)
elif b>c:
    print("largest:",b)
else:
    print("largest:",c)

largest: 20

## 28. Check if a given number is prime or not.

In [7]:

num=int(input("enter a number:"))
if num%2==1:
    print("number is prime")
else:
    print("number is not prime")

enter a number: 2

number is not prime

## 29. Assign grade (A, B, C, Fail) based on marks input.

In [1]:
def assign_grade():
    marks = int(input("Enter your marks: "))
    if marks >= 90:
        print("Grade: A")
    elif marks >= 75:
        print("Grade: B")
    elif marks >= 50:
        print("Grade: C")
    else:
        print("Grade: Fail")

In [3]:
assign_grade()

Enter your marks:  76

Grade: B

## 30. Check if a number is positive, negative, or zero.

In [6]:

num=int(input("enter number:"))
if num>0:
   print("it is positive")
elif num<0:
    print("it is negative")

else:
    print("it is zero")

enter number: 0

it is zero

## 7. Loops – For & While (5 Questions)

## 31. Print the first 10 numbers of the Fibonacci series using for loop.

In [4]:
a,b = 0,1
for _ in range(10):
    print(a,end= " ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

## 32. Find the factorial of a number using while loop.

In [30]:

n = 5
fact = 1
while n>0:
    fact *= n
    n -= 1
print("\nfactorial:", fact)

factorial: 120

## 33. Input a number and find the sum of its digits using while loop.

In [32]:

n = 12347
s = 0
while n>0:
    s += n % 10
    n //= 10
    print("sum of digit", s)

sum of digit 7
sum of digit 11
sum of digit 14
sum of digit 16
sum of digit 17

## 34. Print all elements of a list in reverse order without using reverse().

In [5]:
z = [5,10,15,20,25,30,35,40,45,50]
list = z[::-1]
print(list)

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

## 35. Print a star pattern (triangle) using nested loops.

In [6]:
num = int(input("Enter the num:"))
for i in range(num):
    for j in range(i + 1):
        print("*",end = " ")
    print()

Enter the num: 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

## 8. File Handling (5 Questions)

## 36. Write some text into a file and then read and print it.

In [9]:
with open("test.txt","w") as f:
    f.write("hello python")
with open("test.txt","r") as f:
    print(f.read())

hello python

## 37. Count the total number of lines in a file.

In [33]:
#37
with open("test.txt", "r") as f :
    print("lines:", len(f.readlines()))

lines: 3

## 38. Count vowels and consonants in a file.

In [35]:
with open("test.txt") as f:
    text = f.read().lower()
vowels = sum(ch in "aeiou" for ch in text)
consonants = sum (ch. isalpha() and ch not in "aeiou" for ch in text)
print("vowels:", vowels, "consonants:", consonants)

vowels: 27 consonants: 33

## 39. Convert the content of a file into uppercase and store it in another file.

In [10]:
with open("test.txt") as f:
    data = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(data)

In [11]:
f = open("upper.txt", "r")
f.read()

'HELLO PYTHON'

## 40. Read a CSV file and print its rows.

In [ ]:
import csv
with open("123.txt", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

## 9. OS Module (5 Questions)

## 41. Print the current working directory using os module.41. Print the current working directory using os module.

In [13]:
import os
print(os.getcwd())

C:\Users\salon\python

## 42. Create a new folder using os module and create a file inside it.

In [2]:
import os

In [12]:
pwd

'C:\\Users\\salon\\python'

In [13]:
os.getcwd()

'C:\\Users\\salon\\python'

In [14]:
os.chdir("C:\\Users\\salon\\Downloads")

In [15]:
os.mkdir("pynewfolder")

In [16]:
os.listdir()

['01. Python Basics.ipynb',
 '01. Python_Practice_Questions.pdf',
 '02. Build-in Functions.ipynb',
 '03. List and Operation.ipynb',
 '04. String and Operations.ipynb',
 '05. Tuple and operation.ipynb',
 '06. Set and operation.ipynb',
 '07. Dictionary and operations.ipynb',
 '08. Conditions-1.ipynb',
 '09. Conditions-2.ipynb',
 '10. Loops-1.ipynb',
 '11. loop-2.ipynb',
 '12. Loop-3.ipynb',
 '13. File_handling.ipynb',
 '14. Try and Except, Logging.ipynb',
 'Anaconda3-2025.06-0-Windows-x86_64 (1).exe',
 'application.pdf',
 'birth.jpeg',
 'desktop.ini',
 'details (1).pdf',
 'details (2).pdf',
 'details.pdf',
 'EFFD766898.pdf',
 'EFFD902204.pdf',
 'english.txt',
 'ideaIC-2024.1.4.exe',
 'IMG-20240816-WA0002.jpg',
 'jdk-22_windows-x64_bin.msi',
 'MSB.exe',
 'organic-1.0.0 (1)',
 'OTR-10023441867.pdf',
 'photo.jpeg',
 'py code.txt',
 'pynewfolder',
 'sabtool_win8_10_11_v170530.zip',
 'SALONI RESUME NEW.docx',
 'saloni.docx',
 'SteamSetup.exe',
 'VAISHNAVI KHADE.pdf',
 'voter.jpeg',
 'VSCodeUserSetup-x64-1.103.0.exe',
 'WhatsApp Installer.exe']

In [17]:
os.chdir("C:\\Users\\salon\\Downloads\\pynewfolder")

In [19]:
%%writefile newfile.txt
!hello python

Writing newfile.txt

In [20]:
os.listdir()

['newfile.txt']

## 43. List all files and folders inside a directory.

In [21]:
os.chdir("C:\\Users\\salon\\Downloads")

In [22]:
os.listdir()

['01. Python Basics.ipynb',
 '01. Python_Practice_Questions.pdf',
 '02. Build-in Functions.ipynb',
 '03. List and Operation.ipynb',
 '04. String and Operations.ipynb',
 '05. Tuple and operation.ipynb',
 '06. Set and operation.ipynb',
 '07. Dictionary and operations.ipynb',
 '08. Conditions-1.ipynb',
 '09. Conditions-2.ipynb',
 '10. Loops-1.ipynb',
 '11. loop-2.ipynb',
 '12. Loop-3.ipynb',
 '13. File_handling.ipynb',
 '14. Try and Except, Logging.ipynb',
 'Anaconda3-2025.06-0-Windows-x86_64 (1).exe',
 'application.pdf',
 'birth.jpeg',
 'desktop.ini',
 'details (1).pdf',
 'details (2).pdf',
 'details.pdf',
 'EFFD766898.pdf',
 'EFFD902204.pdf',
 'english.txt',
 'ideaIC-2024.1.4.exe',
 'IMG-20240816-WA0002.jpg',
 'jdk-22_windows-x64_bin.msi',
 'MSB.exe',
 'organic-1.0.0 (1)',
 'OTR-10023441867.pdf',
 'photo.jpeg',
 'py code.txt',
 'pynewfolder',
 'sabtool_win8_10_11_v170530.zip',
 'SALONI RESUME NEW.docx',
 'saloni.docx',
 'SteamSetup.exe',
 'VAISHNAVI KHADE.pdf',
 'voter.jpeg',
 'VSCodeUserSetup-x64-1.103.0.exe',
 'WhatsApp Installer.exe']

## 44. Check the size of a file using os module.

In [21]:
filename = "demo1.txt"
size = os.path.getsize(filename)
print(f"File size of {filename} is: {size} bytes")

File size of demo1.txt is: 17 bytes

## 45. Count all .txt files in a directory.

In [15]:
files = os.listdir()
count = 0

for f in files:
    if f.endswith(".txt"):
        count += 1
result = {".txt files:", count}
print(result)

{'.txt files:', 6}

## 10. Try-Exception (5 Questions)

## 46. Write a program that takes user input and prints its square. Handle errors if input is invalid

In [27]:
try:
    var = int(input("Enter a number: "))
    print("Square is:", var**2)
except ValueError:
    print("Invalid input! Please enter a number.")

Enter a number:  6

Square is: 36

## 47. Handle ZeroDivisionError with an example program.

In [43]:
try:
    x = int(input("Enter a number: "))
    y = 10 / x
    print(f"Result: {y}")
except Exception as e:
    print(f"Error occurred: {e}")
else:
    print("No exceptions occurred.")
finally:
    print("Execution completed.")

Enter a number:  0

Error occurred: division by zero
Execution completed.

## 48. Handle FileNotFoundError with an example program.

In [5]:
try:
    with open('nonexistent_file.txt', 'r') as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print("Error: the file could not be found.")

Error: the file could not be found.

## 49. Handle both ValueError and TypeError with an example.

In [31]:
try:
    u_input = int(input("Enter a number: "))
    result = u_input + "5"
    print(result)
except ValueError:
    print("ValueError: please enter number only!")
except TypeError:
    print("typeError: Cannot add number and string togther!")

Enter a number:  5

typeError: Cannot add number and string togther!

## 50. Write a program with finally block that opens and closes a file.

In [28]:
try:
    x = int(input("Enter a number: "))
    y = 10 / x
    print(f"Result: {y}")
except Exception as e:
    print(f"Error occurred: {e}")
else:
    print("No exceptions occurred.")
finally:
    print("file closed successfully.")

Enter a number:  3

Result: 3.3333333333333335
No exceptions occurred.
file closed successfully.