## 1. Find the 2nd largest and 2nd smallest element in a list.

In [1]:
l = [1,2,4,3,8,7,6,5,9,10]
l1= l[-2]
l2= l[1]
print("2nd largest:", l1)
print("2nd smallest:", l2)

2nd largest: 9
2nd smallest: 2

## 2. Find the key with the largest value in a dictionary.

In [62]:
d = {"a": 2, "b": 8, "c": 7}
max_v = (d,keys.d.get)
print(max_v)

NameError: name 'keys' is not defined

## 3. Create a new folder using os module and create a file inside it.f2

In [17]:
import os

In [20]:
os.getcwd()

'C:\\Users\\salon'

In [53]:
%%writefile.new.txt
readfile.nwe.txt

UsageError: Cell magic `%%writefile.new.txt` not found.

## 4. Write a recursive function to calculate Fibonacci series up to n terms.

## 5. Use a lambda with map() to convert a list of integers into their cubes.

In [59]:
l1 = [1,2,3,4,5,6,7,8,9]
lis = [lambda x in x**2 ]

SyntaxError: invalid syntax (2313617133.py, line 2)

## 6. Create a class Employee that increases salary by 10%.

In [ ]:
class Employee:
    def salary():
        s = salary

## 7. Write a program to print the date 30 days from today.

In [32]:
import datetime
today=datetime.date.today()
print("Today's Date:", today)
onemonth=today+datetime.timedelta(days=30)
print("Date after 30 days", onemonth)

Today's Date: 2025-09-16
Date after 30 days 2025-10-16

## 8. Write a program to convert radians to degrees and vice versa.

In [50]:
import math 
r = math.radians(31)
d = math.degrees(r)
print("degree:", d)

degree: 31.0

## 9.  Write a regex to validate if a string is a valid Indian mobile number (10 digits).

In [ ]:
n = 916789012345,918901234567,9012345678

## 10. Create a class Bank with encapsulated methods to show account details securely.